<div class="main__container--side col s1"></div>
<div class="main__container__dinamic col s10">
  <div class="chat__tittle row"><h4>Chat Comunitario</h4></div>
  <div class="row">
    <div class="chat__container">
      <u class="chat__container--response"><i>{{response}}</i></u>
      <div class="chat__container__dinamic">
        <!-- Contain Dinamic -->
      </div>
    </div>
  </div>
  <div class="chat__input row">
    <div class="col s10 m10 l10">
      <div class="chat__input--chatBox">
        <input
          type="text"
          placeholder="Escribe un mensaje..."
          name="message"
          id="chatBox"
        />
      </div>
    </div>
    <div class="col s2 m2 l2">
      <div class="chat__input--button">
        <button>Enviar</button>
      </div>
    </div>
  </div>
</div>
<div class="main__container--side col s1"></div>
<div id="return"><a href="/" type="button"><i
      class="fas fa-light fa-reply-all"
    ></i><b>RETURN</b></a></div>
<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/toastify-js"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.24/dist/sweetalert2.all.min.js"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"
></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>
<script src="/js/chat.js"></script>