<div class="index-contain">
  <div class="contain-route-static">
    <a href="../home" type="button" id="Static"><i class="fas fa-arrows-to-dot"></i>Static Route</a>
  </div>
  <br />
  <div class="contain-route-dinamic">
    <a href="../realtimeproducts" type="button" id="Dinamic"><i class="fas fa-arrows-spin"></i>Dinamic Route</a>
  </div>
</div>
<script src="/js/index.js"></script>