<H2 class="tittle-index">WebSockets + Plantillas</H2>
<div class="contain">
  <div class="contain-route-static">
    <input type="button" id="Static" class="btnSave" value="*Static Route" />
  </div>
  <br />
  <div class="contain-route-dinamic">
    <input
      type="button"
      id="Dinamic"
      class="btnSave"
      value="*Dynamic Route"
    />
  </div>
</div>
<script src="/js/index.js"></script>