@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap");
@import url("https://fonts.cdnfonts.com/css/sinami");
@import url("https://fonts.cdnfonts.com/css/love-you");
@import url("https://fonts.cdnfonts.com/css/thirty-seven");
@import url('https://fonts.cdnfonts.com/css/g-glegar');
@import url('https://fonts.cdnfonts.com/css/tt-marxiana-trial');
@import url('https://fonts.cdnfonts.com/css/dec-terminal-modern');
@import url('https://fonts.cdnfonts.com/css/capriola-buisiness');
       
/*ALL BLOCK*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
.hidden {
  display: none !important;
}
.keep{
  border: solid yellow 3px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  left: 8vw !important;
 }
.field-box {
  margin: 1px;
}
.updating-product {
  position: sticky;
  top: 15vh;
  display: block;
}

/*HEADER BLOCK*/
.head{
  margin: 0;
  z-index: 50;
  position: sticky;
  top: 0;
  height: auto;
}
.head__container{
  display: block;
  word-wrap: break-word;
  background: linear-gradient(rgb(190, 240, 255), white);
  position: relative;
}
.head__container-h2{
  margin: 0;
  padding-left: 2.8125rem;
  border: solid rgb(182, 179, 179) 3px;
  text-align: center;
  font-family: "Love You", cursive;
  font-size: 4em;
  overflow: visible;
}

/*NAVIGATION BLOCK*/
.nav {
  background-image: url("https://img.freepik.com/vector-gratis/fondo-degradado-cielo-pastel_23-2148917404.jpg?w=2000");
  z-index: 2;
}
.nav__container-email-logged{
  color: black;
  position: relative;
  margin-top: 5px;
  height: 85%;
  width: 6vw;
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/*NAVIGATION BLOCK REF*/
.nav__container-ref {
  outline-offset: solid black 1px;
}
.nav__container-ref a{
  border: solid black 1px;
  color: black;
  position: relative;
  margin-top: 5px;
  height: 85%;
  width: 6vw;
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
}
.nav__container-ref a:hover {
  cursor: pointer;
  background-color: rgb(0, 255, 195);
  box-shadow: #2cfff1 0px 0px 15px 0px;
}
.nav__container-ref i{
  position: relative;
  top: 2vh;
}
.nav__container-ref b{
  position: relative;
}
/*NAVIGATION BLOCK BAR*/
.nav__container-bar{
  height: 50vh;
  position: fixed;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  background-color: #9d00ff;
  transition: all ease-in-out 500ms;
}
.nav__container-bar:hover > .nav__container__bar-menu {
  left: 8vw;
}
.nav__container-bar-dropdown{
  background-color: white;
  font-size: 3.5vw;
  position: relative;
  height: 100%;
  border-bottom-right-radius: 30px;
  z-index: 4;
  width: 8vw;
  display: flex;
  align-items: center;
}
.nav__container-bar-dropdown i {
  display: flex;
  align-items: center;
  padding: 2vw;
  position: relative;
  font-size: 100%;
  z-index: 4;
}
.nav__container-bar-dropdown:hover {
  background: linear-gradient(rgb(190, 240, 255), white);
  cursor: pointer;
  z-index: 4;
}
.nav__container__bar-menu {
  position: absolute;
  outline: solid black 1px;
  background-color: #ffffff;
  overflow: hidden;
  z-index: 2;
  top: 0;
  left: -46vw;
  transition: all ease-in-out 700ms;
  width: 42vw;
  display: block;
  height: auto;
}

/*CSS INDEX*/
.index-contain {
  height: 90vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: sticky;
}

.index-contain #Static {
  /*STATIC BUTTON*/
  background-color: aquamarine;
  color: black;
  margin-top: 100px;
  white-space: normal;
  border: solid black 2px;
  border-radius: 20px;
  font-family: "Sinami", sans-serif;
  font-size: 3.125rem;
  padding: 15px;
  padding-bottom: 5px;
  transition: all 500ms ease;
}

.index-contain #Static:hover {
  color: rgb(195, 7, 195);
  box-shadow: #9966cc 0px 0px 20px 0px;
  cursor: pointer;
}

.index-contain #Dinamic {
  /*DINAMIC BUTTON*/
  background-color: rgb(96, 104, 255);
  color: black;
  margin-top: 50px;
  white-space: normal;
  border: solid black 2px;
  border-radius: 20px;
  font-family: "Sinami", sans-serif;
  font-size: 3.125rem;
  padding: 15px;
  padding-bottom: 5px;
  transition: all 500ms ease;
}

.index-contain #Dinamic:hover {
  border: solid black 2px;
  color: rgb(255, 196, 0);
  box-shadow: #9966cc 0px 0px 20px 0px;
  cursor: pointer;
}

.index-contain #Chat {
  /*DINAMIC BUTTON*/
  background-color: pink;
  color: black;
  margin-top: 80px;
  white-space: normal;
  border: solid black 2px;
  border-radius: 20px;
  font-family: "Sinami", sans-serif;
  font-size: 3.125rem;
  padding: 15px;
  padding-bottom: 5px;
  transition: all 500ms ease;
}

.index-contain #Chat:hover {
  border: solid black 2px;
  color: blue;
  box-shadow: #9966cc 0px 0px 20px 0px;
  cursor: pointer;
}

/*CSS MAIN*/
.main {
  margin: auto;
  background: linear-gradient(white, rgb(190, 240, 255));
  height: auto;
  z-index: 0;
}
.estilo {
  background-image: url("https://img.freepik.com/vector-gratis/fondo-degradado-cielo-pastel_23-2148917404.jpg?w=2000");
  background-size: cover;
  z-index: 1;
  height: 100vh;
  position: sticky;
  top: 0;
  display: block;
}

.logo-box {
  background-color: #ffffff;
  position: sticky;
  top: 0;
  margin: auto;
  height: 16vh;
}

.logo-img {
  object-fit: cover;
  height: 16vh;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
}

.dash-box {
  background-color: #ffffff;
  position: sticky;
  top: 0;
  height: 12vh;
  display: flex;
  align-items: center;
}

.dash-btn {
  font-family: "Sinami", sans-serif;
  font-size: 2em;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 90%;
  border-radius: 15px;
  background-color: #2755b8;
  height: 6vh;
}
.dash-btn i {
  display: inline-block;
  height: 0;
  font-size: 20px;
  margin: 5px;
  position: relative;
  top: 20px;
}

.dash-btn:hover {
  box-shadow: #00befe 0px 0px 10px 0px;
  cursor: pointer;
  background-color: #61bdff;
}

.option-box {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: #ffffff;
  outline: solid purple 5px;
  position: sticky;
  top: 0;
  width: 100%;
}

.option-box h6 {
  background-color: #ffffff;
  color: #9d00ff;
  position: relative;
  display: block;
  text-align: start;
  margin-left: 20px;
  margin-right: 20px;
  font-family: "Love You", sans-serif;
  font-size: 1.7em;
}
.option-box .nav__ul{
  overflow: scroll;
  height: 44vh;
}

.option-box .nav__li{
  display: block;
  width: 100%;
}

.option-btn {
  color: black;
  font-family: "Sinami", sans-serif;
  font-size: 1.2em;
  position: relative;
  margin: 2px;
  display: block ;
  align-items: center;
  justify-content: center;
  width: 85%;
  margin-left: 15px;
  padding-left: 10%;
}

.option-btn:hover {
  box-shadow: #00befe 0px 0px 10px 0px;
  border-radius: 15px;
  outline: solid black 2px;
  background-color: #84f9e9;
  cursor: pointer;
  color: orangered;
  font-size: 1.3em;
}
.option-btn:active {
  background-color: rgb(0, 136, 255);
  cursor: wait;
}

.option-btn i {
  display: inline-block;
  height: 0;
  font-size: 1em;
  position: relative;
  bottom: 1px;
}

.dinamic-row {
  margin: 0;
}

.route {
  position: relative;
  background: none;
  border: none;
  text-align: start;
  margin: 5px;
  padding: 5px;
  font-size: 0.8em;
}

.route:hover {
  background-color: #2755b8;
  cursor: pointer;
  border-radius: 5px;
}

/*FLUID CONTAINER 2*/
#container-fluid2 {
  z-index: 1;
  backdrop-filter: blur(100%);
}

#container-fluid2 h4 {
  margin: 0;
}

#return {
  /*RETURN BUTTON*/
  position: fixed;
  top: 0;
  left: 0;
  background-color: greenyellow;
  transition: all 600ms ease;
  z-index: 100;
  border-radius: 10px;
  margin: 5px;
  width: 9vw;
  display: flex;
  align-items: center;
}

#return a{
  font-size: 1.5rem;
  border: solid black 1px;
  color: black;
  position: relative;
  height: 5vh;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  justify-content: center;
  overflow: hidden;
  white-space: nowrap;
  align-items: start;
  text-overflow: ellipsis;
}

#return a:hover{
  color: rgb(15, 6, 140);
  box-shadow: #9966cc 0px 0px 20px 0px;
}

#return b{
  font-family: "thirty-seven", sans-serif;
}

#return i {
  position: relative;
  margin: 7px;
  left: 0;
  font-size: 1.625rem;
  position: relative;
}
#return:hover {
  color: rgb(38, 2, 108);
  width: 30vw;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

/*CSS ROUTES*/
/*CSS DINAMIC ROUTE*/
#container {
  position: sticky;
  top: 8vh;
  display: block;
  margin: 0;
  padding-top: 10px;
}

#container .dinamic-tittle {
  margin: 0;
  padding: 0;
}

#container h3 {
  position: sticky;
  margin: 0;
  top: 0;
  display: block;
  margin-left: 2px;
  font-size: 3.5rem;
  width: 100%;
  font-family: "Sinami", sans-serif;
}

#container label {
  font-size: 1.5rem;
  font-family: "Love You", sans-serif;
}

.btnSave {
  /*SAVE BUTTON*/
  white-space: normal;
  background: #250092;
  border: solid black 2px;
  border-radius: 20px;
  color: #ffffff;
  font-family: "Sinami", sans-serif;
  font-size: 1.875rem;
  padding-top: 8px !important;
  transition: all 500ms ease;
}
.btnSave:hover {
  box-shadow: #9966cc 0px 0px 20px 0px;
  background: rgb(0, 73, 189);
  color: #ffff00;
  cursor: pointer;
}

.btnCancel {
  /*CANCEL BUTTON*/
  white-space: normal;
  background: rgb(0, 201, 151);
  border: solid black 2px;
  border-radius: 20px;
  color: #ffffff;
  font-family: "Sinami", sans-serif;
  font-size: 1.875rem;
  padding-top: 10px !important;
  transition: all 500ms ease;
}
.btnCancel:hover {
  box-shadow: #00befe 0px 0px 10px 0px;
  background: rgb(48, 238, 175);
  color: #ff8000;
  cursor: pointer;
}

#dinamic-contain {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fill, 1fr);
  grid-auto-flow: dense;
  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
  grid-gap: 10px;
}

.card {
  /*border: green solid 5px;*/
  height: auto;
}

.card-image {
  /*border: greenyellow solid 5px;*/
  height: 50%;
}
.responsive-img {
  object-fit: cover;
  /*border: solid black 5px;*/
  height: 100% !important;
  position: relative;
}

.card-title {
  opacity: 0.8;
  color: black !important;
  background-color: #9966cc;
  height: auto;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 500ms ease;
}

.card-title:hover {
  cursor: pointer;
  width: 100%;
  line-height: auto;
  white-space: normal;
  word-wrap: break-word;
}

.card-content {
  /*border: orange solid 5px;*/
  display: grid;
  position: relative;
  width: auto;
  text-align: center;
  font-size: medium;
  height: 30%;
  grid-template-columns: repeat(auto-fill, minmax(1fr, 1fr));
  grid-template-rows: repeat(auto-fill, 1fr);
  grid-auto-flow: dense;
  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
  grid-gap: auto;
}

.card-content .card-description {
  text-align: center;
  /*outline: solid red 5px;*/
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  position: relative;
  cursor: pointer;
  height: 3vh;
  width: 100%;
}

.card-content .card-description:active {
  position: relative;
  overflow: visible;
  white-space: normal;
  word-break: break-word;
  color: blue;
}

.card-action {
  display: grid;
  /*border: orange solid 5px;*/
  height: 20%;
}

.card-action .btn {
  /*border: blue solid 5px;*/
  font-family: "Thirty-Seven", sans-serif;
  font-size: 1.875rem;
  height: fit-content;
  width: 100%;
  position: relative;
  margin: auto;
}

.card-image .update::before {
  content: "\f013";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  right: 0;
  z-index: 2;
  cursor: pointer;
  top: 7px;
  right: 7px;
  color: silver;
  border: solid black 1px;
  font-size: 1.25rem;
  padding: 3px;
}

.card-image .reset::before {
  content: "\f01e";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  right: 0;
  z-index: 2;
  cursor: pointer;
  top: 7px;
  right: 7px;
  color: silver;
  border: solid black 1px;
  font-size: 1.25rem;
  padding: 3px;
}

.card-image .updating::before {
  content: "\f01e"+"Updating";
  pointer-events: none;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  right: 0;
  z-index: 2;
  cursor: pointer;
  top: 7px;
  right: 7px;
  color: silver;
  border: solid black 1px;
  font-size: 1.25rem;
  padding: 3px;
}

/*CSS STATIC ROUTE*/
.static-tittle {
  background-color: white;
  position: sticky;
  top: 8.5vh;
  display: block;
  z-index: 1;
}

.static-tittle h4 {
  margin: 0;
  position: static;
  font-size: 2.875rem;
  font-family: "Sinami", sans-serif;
}

#static-contain {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fill, 1fr);
  grid-auto-flow: dense;
  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
  grid-gap: 10px;
}

.card-content-static {
  /*border: orange solid 5px;*/
  position: relative;
  width: auto;
  text-align: center;
  font-size: large;
  height: 50%;
  grid-template-columns: repeat(auto-fill, minmax(1fr, 1fr));
  grid-template-rows: repeat(auto-fill, 1fr);
  grid-auto-flow: dense;
  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
  grid-gap: auto;
  display: grid;
  margin: 1em;
  padding: 1em;
}

.card-content-static .card-description {
  text-align: center;
  /*outline: solid red 5px;*/
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  position: relative;
  cursor: pointer;
  height: 1.5em;
}

.card-content-static .card-description:active {
  position: relative;
  overflow: visible;
  white-space: normal;
  word-break: break-word;
  color: blue;
}

/*CSS CHAT ROUTE*/
.chat-tittle {
  background-color: white;
  position: sticky;
  top: 8.5vh;
  display: flex;
  z-index: 1;
  justify-content: center;
}

.chat-tittle h4{
  text-align: center;
  margin-top: 10px !important;
  position: relative;
  color: #9d00ff;
  font-size: 6vw;
  font-family: "Sinami", sans-serif;
}


/*CSS DEVICES*/

/*CSS DEVICE < 600px (37.5rem)(base 1rem=16px) (CEL)*/

@media only screen and (max-width: 37.5rem) {
  /*.card {
    border: red solid 5px;
  }*/
  /*MAIN*/
  .nav__container__bar-menu {
    width: 45vw !important;
  }
  /*DINAMIC*/
  #dinamic-contain {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-auto-flow: dense;
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
    grid-column-gap: 5px;
  }
  #container {
    top: 16vh;
  }
  /*STATIC*/
  .static-tittle {
    top: 16.5vh;
  }
  .chat-tittle {
    top: 16.5vh;
  }
  .chat-tittle h4{
    font-size: 5vh;
  }

  #static-contain {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-auto-flow: dense;
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
    grid-column-gap: 5px;
  }
  .nav__container-ref i {
    position: relative;
    top: 1.7vh;
  }
  .field-box div{
    margin: 0;
  }
  #container h3 {
    font-size: 3em;
    width: 100%;
  }
  .nav__container-bar{
    height: 20vh;
  }
}

/*CSS DEVICE > 992px (62rem) (base 16px=1rem) (LAP)*/

@media only screen and (min-width: 62rem) {
  /*.card {
    border: yellow solid 5px;
  }*/
  /*MAIN*/
  .nav__container__bar-menu {
    width: 20vw !important;
  }
  /*DINAMIC*/
  #dinamic-contain {
    grid-template-columns: repeat(auto-fill, minmax(12.5rem, 1fr));
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-auto-flow: dense;
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
    grid-gap: 5px;
  }
  /*STATIC*/
  .static-tittle {
    top: 9vh !important;
  }
  .chat-tittle {
    top: 9vh;
  }
  .chat-tittle h4{
    font-size:4vw !important;
  }

  #static-contain {
    grid-template-columns: repeat(auto-fill, minmax(12.5rem, 1fr));
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-auto-flow: dense;
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
    grid-gap: 5px;
  }
  .nav__container-ref a{
    width: 7.5vw !important;
    align-items: start;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .nav__container-ref i {
    position: relative;
    right: 0.2vw;
    top: 0.05vh;
  }
  .nav__container-ref b{
    bottom: 0.6vh;
  }

  #return a{
    align-items: start;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  #return i {
    position: relative;
    right: 0.2vw;
    top: 0.05vh;
  }
  #return b{
    bottom: 0.6vh;
  }

  .nav__container-bar{
    height: 80vh;
  }
}

footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 4vh;
  width: 100%;
  background: linear-gradient(white, rgb(190, 240, 255));
  z-index: 4;
  display: flex;
  justify-content: center;
}

#validate{
  background-color: greenyellow;
  z-index: 100;
  position: fixed;
  bottom: 0;
  right: 0;
  font-family: "Love You", sans-serif;
  color: black;
  border-radius: 10px;
  border: solid 2px black;
  width: 14vw;
  height: 4vh;
  font-size: 1.25rem;
  transition: all 400ms ease;
}

#validate:hover {
  color: rgb(38, 2, 108);
  width: 16vw;
  cursor: pointer;
  box-shadow: #2cff37 0px 0px 15px 0px;
}

.chat-window {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  padding-bottom: 10vh;
}

.chat-window-response {
  padding: 17px;
}

#messageLogs{
  position: relative;
  outline: solid black 2px;
  width: 100%;
  height: auto;
}

.chat-message {
  display: flex;
  margin: 10px 0;
}

.chat-message .message-bubble {
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
  margin-left: 10px;
  border-radius: 10px;
  background-color: #ffffff;
  border: solid 1px #ddd;
}
.message-sender {
  font-size: 0.9375rem;
  color: black;
  margin-bottom: 5px;
  justify-content: space-between;
  font-weight: bold;
}

.socketid {
  font-size: 8px;
  color: #777;
}

.chat-message .message-bubble p {
  margin: 0;
  height: 100%;
  background-color: #ffffff;
  color: black;
  font-size: 1rem;
  border: none;
  cursor: text;
}

.chat-input-window {
  background-color: white;
  border-top: 1px solid #ddd;
  padding: 0 20px;
}

.chat-input-window input {
  flex: 1;
  border: none;
  font-size: 1rem;
}
.chat-input-window input:hover {
  cursor: text;
}

.chat-input-button {
  background-color: greenyellow;

}

.chat-input-button button{
  flex: 1;
  border: solid black 1px;
  font-size: 1.125rem;
  cursor: pointer;
}

.chat-login-tittle{
  color: rgb(46, 12, 200);
  font-family: "g Glegar", sans-serif;
  font-size: 2.5rem;
}

.chat-login-text{
  color: black;
  font-family: "DEC Terminal Modern", sans-serif;
  font-size: 2rem;
}

.chat-login-confirm{
  font-family: "TT Marxiana Trial", sans-serif;
  font-size: 1.25rem;
  color: rgb(246, 255, 0);
}

.chat-login-validator{
  color: red;
  font-family: "Love You", sans-serif;
  font-size: 1.25rem;
}

.chat-login-notification{
  font-size: auto;
  color: black;
  font-family: 'Gentium Plus', sans-serif;
}


.email-logged:hover{
  overflow: visible;
  cursor:pointer;
}

.boxe{
  position: fixed;
  display: flex;
  outline: red solid 1px;
  height: auto;
  top: 87vh;
  width: 83vw;
  align-items: center;
}
