<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link href="https://fonts.cdnfonts.com/css/sinami" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/love-you" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/thirty-seven" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css" />
    <script src="https://kit.fontawesome.com/ddc8b3b9c4.js" crossorigin="anonymous"></script>
    <title>WEBSOCKETS</title>
  </head>
  <body>
    {{{body}}}
  </body>
</html>